<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <style>
        html,
        body {
            height: 100%;
            background-color: #f6f6f6;
        }
    </style>
</head>

<body>
    {% load cloudinary %}
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Nhanthuhai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if nav == 'home' %}active{% endif %}">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if nav == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item {% if nav == 'contact' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.username %}
                <li class="nav-item {% if nav == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'new_post' %}">+Post</a>
                </li>
                <li class="nav-item {% if nav == 'blog' %}active{% endif %}">
                    <span class="nav-link">xin chào {{ user.username }}</span>
                </li>
                <li class="nav-item {% if nav == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'logout' %}">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
                </li>
                {% endif %}
            </ul>
            <!-- Serch field -->
        </div>
    </nav>
    <!-- end nav bar -->

    <div class="container-fluid mt-5" style="min-height: 85%;">
        <div class="row">
            <div class="col-sm-2">
                <center>
                    <img src="{% static 'images/IMG_0540.jpg' %}" class="responsive-img" style="max-height:150px"
                        alt="ko có hình">
                </center>
            </div>
            <div class="col-sm-10">
                <center>
                    <div class="container-fluid">
                        {% block content %}

                        {% endblock %}
                    </div>
                </center>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <a href="#">facebook</a>|<a href="#">Twitter</a>|<a href="#">Tiktok</a>
        </div>
    </footer>

</body>

</html>