{% extends "pages/base.html" %}

{% block title %}Blog{% endblock  %}

{% block content %}
{% for item in Posts %}
    <h4>{{item.date|date:"d-m-Y"}}<a href="/blog/{{item.id}}">{{item.title}}</a></h4>
    <img src="{{ item.image.url }}" width="100px" alt="">
{% endfor %}
<br/>
{% if page_obj.has_next %}
    <a href="{{request.path}}?page={{page_obj.next_page_number}}">Tiếp theo</a>
{% endif %}
{% endblock %}