{% extends "pages/base.html" %}

{% block title %}Create a post{{post.title}}{% endblock %}

{% block content %}
{% if user.username %}
<h1>Write a new post</h1>
<form action="{% url 'save' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button>Post</button>
</form>
{% else %}
<h1>You need to login</h1>
{% endif %}
{% endblock %}