{% extends "pages/base.html" %}

{% block title %}Delete a post{{post.title}}{% endblock %}

{% block content %}
    {% if user.username %}
        {% if user.id == object.author.id %}
            <h1>Edit your post</h1>
            <form method="post">
                {% csrf_token %}
                <p>Are you sure to delete post {{ object.title }}?</p>
                <input type="submit" value="Confirm">
            </form>
        {% else %}
            <h1>You are not author of this post</h1>
        {% endif %}
    {% else %}
        <h1>You need to login first</h1>
    {% endif %}
{% endblock %}
