{% extends "pages/base.html" %}

{% block title %}{{post.title}}{% endblock  %}

{% block content %}
    <h3><a href="{% url 'post' post.id %}">{{post.title}}</a></h3>
    <img src="{{post.image.url}}" width="100px" alt="">
    <h6>on {{post.date}}</h6>
    {{post.body|safe|linebreaks}}
    {% if user.id == post.author.id %}
        <p><a href="{% url 'post_edit' post.pk %}">+ Edit Post</a></p>
        <p><a href="{% url 'post_delete' post.pk %}">+ Delete Post</a></p>
    {% endif %}
    {% for comment in post.comments.all %}
        <h4><strong>{{comment.author}}</strong></h4>
        <h6><p>{{comment.date}}</p></h6>
        <p>{{comment.body|linebreaks}}</p>
    {% endfor %}
    {% if user.username %}
        <form action="{% url 'post' post.id %}" method='POST'>
            {% csrf_token %}
            <p><label>Bình luận:</label></p>
            {{form.body}}
            <br/>
            <input type="submit" value="Bình luận">
        </form>
    
    {% endif %}
{% endblock %}