{% extends "pages/base.html" %}

{% block title %}Update a post: {{post.title}}{% endblock %}

{% block content %}
    <h3>username: {{ user.id }}</h3>
    <h3>author: {{ object.author.id }}</h3>
    {% if user.username %}
        {% if user.id == object.author.id %}
            <h1>Edit your post</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Update">
            </form>
        {% else %}
            <h1>You are not author of this post</h1>
        {% endif %}
    {% else %}
        <h1>You need to login first</h1>
    {% endif %}
{% endblock %}
