{% extends "pages/base.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
{% if user.username %}
<h1>Bạn đã đăng nhâp</h1>
{% else %}
<h1>Trang đăng nhập</h1>
<form method="POST">
    {% csrf_token %}
    {% for key,value in form.errors.items %}
        {{value}}
    {% endfor %}
    <p><label for="">Tài khoản</label>{{form.username}}</p>
    <p><label for="">Mật khẩu</label>{{form.password}}</p>
    {% comment %} <input type="hidden" name='next' value='/'> {% endcomment %}
    <input type="submit" value='Đăng nhập'>
</form>
{% endif %}
{% endblock %}
    