{% extends "pages/base.html" %}

{% block title %}Profie{% endblock %}

{% block content %}
{% if user.username %}
    <div class="container">
        <h1>Xin chào {{ user.username }}</h1>
        <p>{{ user.fullname }}</p>
        <p>{{ user.address }}</p>
        <p>{{ user.biography }}</p>
        <p>{{ user.year_birth }}</p>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>
    </div>
{% endif %}
{% endblock %}
    