{% extends "pages/base.html" %}

{% block title %}Profie{% endblock %}

{% block content %}
{% comment %} {% if user.username %} {% endcomment %}
    {% comment %} <div class="container">
        <h1>Xin chào {{ user.username }}</h1>
    </div> {% endcomment %}
{% comment %} {% else %} {% endcomment %}
    <center>
        <form action='.' method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Đăng ký">
        </form>
    </center>
{% comment %} {% endif %} {% endcomment %}
{% endblock %}